{% extends 'base.html.twig' %}

{% block title %} Posts {% endblock %}

{% block body %}
    <h3>Posts</h3>

    {% for post in posts %}
        <article>
            <header>{{ post.title }}</header>
            <p>{{ post.content|trim|striptags|u.truncate(200, '...') }}</p>
            <p>
                <a href="#">Read more&hellip;</a>
            </p>
        </article>
    {% endfor %}

    <p></p>
{% endblock %}
